* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: black;
  width: 6rem;
}

.top-nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
}

.nav-menu {
  width: 25%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons {
  padding: 0.25rem;
  width: 1.75rem;
}

main {
  margin-top: 10vh;
  padding: 0 3.1%;
}

.hero {
  width: 100%;
  height: 210px;
  background-size: cover;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-title {
  width: 90%;
  margin: 0.5rem 0;
}

.title-top,
.hero-title,
.article.info {
  margin-left: 0.6rem;
}

.article.info {
  margin-bottom: 0.5rem;
}

.hero .article.info {
  display: flex;
  height: fit-content;
  font-size: 0.75rem;
  color: lightgray;
}

.itme-img-container img {
  object-fit: fill;
  height: 75px;
  width: 75px;
}

.social-link img {
  width: 1rem;
}

.hero .article.info img {
  height: 1.1rem;
  background-color: lightgray;
}

.hero-1 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/nasa.png") ;
}

.hero-2 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/tnw2020-feature_img-02.jpg");
}

.hero-3 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/GitHub-featured-796x428.jpg");
}

.header-link {
  color: #F42;
}
.latest-news header{
  margin: 0.75rem 0rem;
}
.latest-news-list {
  list-style: none;
}

.latest-item {
  display: flex;
  margin-bottom: 0.5rem;
}
.latest-item .text-info small{
  color: rgb(194, 188, 188);
}
.item-text {
  width: 80%;
}

.itme-img-container {
  height: 75px;
  width: 75px;
  background-color: black;
  overflow: hidden;
  margin-right: 0.5rem;
}
.topics-container{
    padding: 0.5rem 0.65rem;
}
.topic a h2,.funding-rounds h2 a,.links-list li a{
    color: #f42;
    margin: 0.8rem 0;
}
.topic-1 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/Elon-Musk-candy-Wonka-hed-513x270.jpg");
}

.topic-2 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/Snag_760793-523x270.png");
}

.topic-3 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/header-image-Apple-Watch-design-368x276.png");
}

.topic-4 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/1-18-368x276.jpg");
}

.topic-5 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/Untitled-design-13-368x276.jpg");
}

.topic-6 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/mixed-reality-spatial-computing-gq-368x276.png");
}

.topic-7 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/tesla-nhtsa-investigation-car-cooling-pipes-fix-broken-la-times-business-insider-368x276.jpg");
}

.topic-8 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/hummer-ev-future-car-love-hate-next-gmc-gm-ultium-368x276.jpg");
}

.topic-9 {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.26) 0%,rgba(0,0,0,0.4) 56%, rgba(0,0,0,0.85) 100%),url("./assets/images/reddit-deleted-posts-comments-threads-368x276.jpg");
}
.deals-list{
  list-style: none;
}
.funding-rounds{
  padding: 0.5rem 0.65rem;
}
.funding-rounds .links-list ul{
  list-style: none;
}
.links-list ul li{
  margin: 0.5rem 0;
}
.company-card{
  height: 250px;
  margin: 1rem 0;
}
.company-card header{
  height: 35%;
  background:linear-gradient(to bottom,#f42 0%,#f42 40%,#ffebe7 41%,#ffebe7 100%);
}
.company-logo{
  margin: 0.75rem 1rem;
  float: left;
}
.company-logo img{
  height: 50px;
  width: 50px;
}
.orange-bg{
  height: 40%;
  font-size: 1.2rem;
  color: #ffebe7;
}
.salmon-bg{
height:  60%;
}
.orange-bg,.salmon-bg{
  padding: 0.5rem 1rem;
}
.header-text-container{
  height: 100%;
}
.grey-small{
  color: rgb(179, 179, 179);
  font-weight: 400;
  font-size: 0.7rem;
}
.card-info,.bank-info{
  background-color: #FFFAF8;
  padding: 0.75rem 1rem; 
}

.bank-info {
  border-top: 0.5px solid rgb(252, 124, 101);
}

.card-info a{
  color: #333;
  font-size: 0.8rem;
}

.bank-info a {
  color: #333;
  font-weight: 300;
}

.bank-info li{
  list-style: none;
  color: rgb(187, 180, 180);
  font-size: 0.8rem;
}

.bank-info li a {
  line-height: 1.25rem;
}

.funding-info-tag a:hover {
  color: black;
}

.funding-info-tag img{
  width: 0.8rem;
}

.special-item{
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFF4F2;
    color: #F42;
    margin-bottom: 0.7rem;
}
.special-item header{
    padding: 0.5rem 0.7rem;
}
.special-item img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.special-item h4{
    font-weight: 500;
}
.special-item a{
    color: #F42;
    font-weight: 600;
}
.normal-link{
    padding: 0.2rem 0.3rem;
}
.normal-link::marker{
    content: "•";
    color: #f42;
} 
.normal-link a{
    font-size: 0.9rem;
    color: #333;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

.top-footer{
    background-color:#131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
}

.social-link img{
  width: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}
.social-link img:hover{
  background-color: #333;
}
.social-link {
  margin: 0 0.2rem;
}

.menu-links {
  display: flex;
  list-style: none;
  padding-top: 1rem;
}

.menu-links a {
  color: rgb(238, 235, 235);
  font-size: 0.7rem;
  padding-right: 0.75rem;
}
.menu-link a:hover{
  color: antiquewhite;
}
.bottom-footer{
    display: flex;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 2rem 0;
}

.bottom-footer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: gray;
}
.bottom-footer-container img{
  width: 1.5rem;
}
img[src="./assets/images/stackpath.svg"]{
  width: 3rem;
}
.grey-striked{
  text-decoration: line-through;
  color: rgb(204, 204, 204);
}
