* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: black;
  width: 6rem;
}

.top-nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
}

.nav-menu {
  width: 25%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons {
  padding: 0.25rem;
  width: 1.75rem;
}

main {
  margin-top: 10vh;
  padding: 0 3.1%;
}
.hero{
    width: 100%;
    height: 210px;
    background-size: cover;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-title{
    width: 90%;
    margin: 0.5rem 0;
}
.title-top,.hero-title,.article.info{
    margin-left: 0.6rem;
}
.article.info{
    margin-bottom: 0.5rem;
}
.hero .article.info{
    display: flex;
    height: fit-content;
    font-size: 0.75rem;
    color: lightgray;
}
.hero .article.info img{
    height: 1.1rem;
    background-color: lightgray;
}
.hero-1{
    background-image: url("./assets/images/nasa.png"); 
}
.hero-2{
    background-image: url("./assets/images/tnw2020-feature_img-02.jpg"); 
}

.hero-3{
    background-image: url("./assets/images/GitHub-featured-796x428.jpg"); 
}

.social-link img{
    width: 1rem;
}
